.big-box{
    width: 80%;
    height: 500px;
    margin: 50px auto;
    border: 2px solid red;
}

.sm-box-1{
    width: 20%;
    height: 200px;
    background: red;
    transition: 1s;
}
.sm-box-1:hover{
    /* transform: translateX(200px); */
    /* transform: rotate(200deg); */
    /* transform: scale(1.3); */
    transform: skew(45deg, -65deg); 
}